/*
consider using this as an alternative to Montserrat for a centry gothic fallback
https://fonts.google.com/specimen/Muli
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat')
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')

@import '_global.sss'
